extends layout
block content
    h3 Add your own quote!
    hr
    form(method="post" action="/api/quote" id="quoteForm")
        label(for="Topic") topic:
        input(id="topic" name="topic" placeholder="Type topic")
        br
        label(for="Author") author:
        input(id="author" name="author" placeholder="Type a new quote!")
        br
        label(for="Reference") reference:
        input(id="ref" name="reference" placeholder="Type a reference")
        br
        br
        label(for="Quote") quote:
        textarea(id="quoteArea" name="quote" placeholder="quote..")
        br
        input(type='submit', id="submitQuote")

    br
    div(id="subSuccess")

    script
        include javascript/test.js