extends layout
block content
    h1= Login
    form(method="post" action="/partials/login")
        input(name="email" placeholder="type email")
        input(name='password' placeholder="type password" input type="password")
        input(type='submit')
