extends layout
block content
    h1= title
    input.form-control(type="text", placeholder="Text input", id="qSearch")
    br
    button.btn.btn-primary(type="button", id="qPerformSearch") Search
    br
    hr
    div(id="qView")

    script
        include javascript/test.js


