extends layout
block content
    h3 Search for a quote!

    input.form-control(type="text", placeholder="Truth, Time ....", id="qSearch")
    br
    button.btn.btn-primary(type="button", id="qPerformSearch") Search
    br
    hr
    div(id="qView")

    script
        include javascript/test.js


